<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Show</title>
</head>
<body>
    <a href="/">Home</a> | <a href="/shows">Show List</a> | <a href="/shows/new">Add Show</a>
    <h1>Add Show</h1>
    <form action="/shows" method="POST">
        Name: <input type="text" name="name"><br>
        Cast Member 1: <input type="text" name="cast"><br>
        Cast Member 2: <input type="text" name="cast"><br>
        Cast Member 3: <input type="text" name="cast"><br>
        <button type="submit">Save Show</button>
    </form>
</body>
</html>